<ion-view title="about">

  <ion-header-bar class="bar-positive">
		<h1 class="headertitle"><b>About</b></h1>
		<img src="img/logont.png" id="rrlogo" ui-sref="home"></img>
		<img src="img/centlogont.png" id="centlogo"></img>
	</ion-header-bar>
  <ion-content padding="true">
	<div class="card">
		<div class="item item-text-wrap">
			<h1>What we do<img src="img/about/about1.png" class="whatwedo"></h1>
			<p>Rolls-Royce designs, develops, manufactures and services integrated power systems for
			use in the air, on the land and at sea.<br><br>We are on of the worlds leading producers
			of aero engines for large civil aircraft and corporate jets. We are the second largest
			provider of defense aero engines and services in the wrold.<br><br>For land and sea markets,
			reciprocating engines and systems from Rolls-Royce are in marine, distributed energy, oil & 
			gas, rail and off-highway vehicle applications. In nuclear, we have a strong instrumentation,
			product and service capability in both civil power and submarine propulsion</p>
		</div>
    </div>
	<div class="card">
		<div class="item item-text-wrap">
			<h1>At a glance 2015<button class="button icon-right ion-chevron-down button-clear button-positive showinfo">Show Graphic</button></h1>
			<img src="img/about/ataglance.png" class="ataglance">
		</div>
	</div>
  </ion-content>
</ion-view>