<ion-view title="about">
	<!-- check www/templates/home.html for a explanation on .html templates -->
  <ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
		<h1 class="headertitle"><b>About</b></h1>
		<img src="img/logont.png" id="rrlogo" ui-sref="home"></img>
		<img src="img/centlogont.png" id="centlogo"></img>
	</ion-header-bar>
  <ion-content padding="true">
  
	<div class ="card">
		<div class="item item-text-wrap">
			<h1>Rolls-Royce in Indiana</h1>
			<img src="img/about/about1.png" class="ataglance">			
			<p>Rolls-Royce facilities in Indianapolis are home to the largest Rolls-Royce manufacturing location
			in North America.  One of the largest employers in Indianapolis, the company employs approximately
			4,000 people in central Indiana.</p><br>
			<p><strong>Made in Indiana</strong><br>Employees in Indianapolis design, develop and manufacture 
			key products in the Rolls-Royce portfolio, including the AE 3007 for Embraer’s regional jet, the Citation
			X and existing defense programs such as Global Hawk.  The AE 2100 powers the Lockheed Martin C-130J and 
			the C-27J.  The AE 1107 powers the Bell Boeing V-22 Osprey tiltrotor and the Model 250 engine powers a 
			variety of helicopters including Bell 206 and 407 helicopters.  Indianapolis is also key to Rolls-Royce 
			participation in Joint Strike Fighter (JSF). Components for the propulsion system for the F-35B Joint 
			Strike Fighter program are assembled in Indianapolis.  The Rolls-Royce LiftSystem® enables short take off 
			and vertical landing (STOVL) operations for the supersonic capable Joint Strike Fighter.</p><br>
			<p><strong>Award Winning Engineering</strong><br>Personnel from Indianapolis have made major contributions 
			to six projects that have won the prestigious Robert J. Collier Trophy over the course of the last 15 years,
			highlighting the advanced nature of the work undertaken at the site.  The Collier Trophy is presented annually,
			“For the greatest achievement in aeronautics in America."  The award has been called the greatest and most 
			prized of all aeronautical honors in the United States of America.</p><br>
			<p><strong>Indiana Origins</strong><br>Indianapolis was formerly the headquarters of the Allison Engine Company, 
			a descendant of the company formed by Jim Allison on September 14, 1915, who also founded the Indianapolis 
			Motor Speedway.  Rolls-Royce purchased Allison in 1995, but the association between the two companies stretches
			back to the 1920s when Allison licensed Rolls-Royce to make bearings.</p><br>
		</div>
	</div>
	
	<div class="card">
		<div class="item item-text-wrap">
			<h1>Rolls-Royce<h1>
			<p><strong>The Company Today</strong><br>Today, Rolls-Royce is a trusted leader for land, sea and air power solutions worldwide.  Comprised of 
			Defense and Civil aerospace, and a Land & Sea Division, Rolls-Royce is one of the foremost engineering 
			companies in the world.  More Rolls-Royce engines are built in Indianapolis than anywhere else in the world.</p><br> 
			<p>Rolls-Royce is making major investments in the United States because America can compete in the global 
			marketplace. Rolls-Royce will double its production capability over the next 10 years in order to meet its 
			global order book of $96 billion (£60.1 billion) for civil aerospace, defense aerospace, marine and energy 
			products. The investments the company is making in America will ensure we continue to deliver excellence 
			for our customers.</p><br>
			<p>Rolls-Royce is the world's second largest engine manufacturer, and a leader in commercial jet engines.<br>
			Rolls-Royce has a broad customer base comprising more than 500 airlines, 4,000 corporate and utility aircraft
			and helicopter operators, 160 armed forces, more than 4,000 marine customers, including 70 navies, and energy
			customers in more than 80 countries..  The company has a total of over 54,000 gas turbines in service worldwide.</p><br>
			<p><strong>Renowned Products</strong><br>The Trent family of Rolls-Royce engines is the most popular commercial fleet model, being used by 50 percent 
			of Airbus and Boeing’s new generation of widebody aircraft.  Likewise, the AE 3007 and BR700 series engines 
			are strongly positioned in regional and corporate jet sectors.</p><br>
			<p>In the military transportation sector, Rolls-Royce continues as the undisputed market leader.  Since the 
			C-130’s inception, the Indianapolis- made Rolls-Royce T56 and AE 2100 engines have powered the plane’s 
			numerous incarnations.</p><br>
			<p>The company’s marine division is a global leader in marine propulsion, engineering and hydrodynamic 
			expertise; its product portfolio ranges from vessel design and gas turbine engines to water jet and deck 
			handling equipment.  The Marine Division’s aim is to supply power, propulsion and motion control systems 
			for high-value vessels.</p><br>
			<p>The Indianapolis-produced MT7 marine gas turbine – a marine variant of the AE 1107C has been selected to 
			power the US Navy’s new Ship-to-Shore Connector (SSC) hovercraft built by Textron Marine & Land Systems.  In
			addition, Indianapolis supplies RR4500 generator sets that power the US Navy’s new DDG-1000 (USS Zumwalt) 
			multi-mission destroyers and has been designed to meet all U.S. Navy requirements.</p><br>
			<p>As for the commercial side of the Marine Division specializes in the offshore sector; since the 1970s, 
			it has supplied over 450 UT-700 series service and support vessels to customers around the world.  Rolls-Royce 
			also has a strong presence in cruise and passenger, cargo, tugs and coastal ferries.</p><br>
			<p><strong>University Partnerships</strong><br>Rolls-Royce in Indianapolis maintains an ongoing relationship with Purdue University, one of the most 
			prestigious engineering schools in the country.  Over 750 Purdue engineering graduates work for Rolls-Royce 
			to enhance one of the most distinguishable brands in the world. Many of our 2,000 office employees work out 
			of a 3 building office complex, the Rolls-Royce Meridian Center, located in downtown Indianapolis.</p><br>
			<p>Striving to match its excellent engineering, Rolls-Royce has made several technological investments. 
			Similarly, through high levels of research and development, the company is dedicated to bringing a new level
			of service and products to market that will facilitate the trickle down of innovation from the military sphere
			to the civil sphere. Fittingly, the company is uniquely positioned to continue to produce the type of 
			high-quality products expected from a brand name that is synonymous with excellence.</p><br>
			<h1>Rolls-Royce - trusted to deliver excellence.</h1>
			
		</div>
	</div>
  
<!-- this was added to comment the old code.
  
	<div class="card">
		<div class="item item-text-wrap">
			<h1>What we do<img src="img/about/about1.png" class="whatwedo"></h1>
			<p>Rolls-Royce designs, develops, manufactures and services integrated power systems for
			use in the air, on the land and at sea.</p><br><p>We are on of the worlds leading producers
			of aero engines for large civil aircraft and corporate jets. We are the second largest
			provider of defense aero engines and services in the wrold.</p><br><p>For land and sea markets,
			reciprocating engines and systems from Rolls-Royce are in marine, distributed energy, oil & 
			gas, rail and off-highway vehicle applications. In nuclear, we have a strong instrumentation,
			product and service capability in both civil power and submarine propulsion</p>
		</div>
    </div>
	
	<div class="card">
		<div class="item item-text-wrap">
			<!-- This is the ionic card thata contains the show/hide button for the RR infographic
				the ng-show and ng-hide and ng-click functions are angular functions used to tell the
				app when to show and hide each element. The class of showinfo is there so that in the 
				www/css/style.css file we can set specific styling with a button.showinfo call.  -->
<!-- this was added to comment the old code.
			<h1>At a glance 2015</h1>
			<!-- In this case "show" is a state that can be either true or false. 
			The ng-show="show" and ng-hide="show" lines are checking the state of "show" and applying themselves accordingly. 
			The ng-click function is telling the button that when clicked it should change the state of "show" to either true or false.-->
<!-- this was added to comment the old code.
			<button class="button icon-right ion-chevron-up button-full button-light showinfo" ng-show="show" ng-click="show=false">Hide</button>
			<button class="button icon-right ion-chevron-down button-full button-light showinfo" ng-hide="show" ng-click="show=true">Show</button>
			<img src="img/about/ataglance.png" class="ataglance" ng-show="show">
			
		</div>
	</div>
	
	<div class="card">
		<div class="item item-text-wrap">
			<h1>Strategy</h1>
			<h2>Vision</h2>
			<p>	<strong>Better</strong> - We will succeeed only by continually raising standards. We
			constantly improve quality, performance and cost. We are inquisitive, energetic and 
			'better' every day. Even when we may be the best, we must continue to get better.</p><br>
			<p>	<strong>Power</strong> - We are a power systems company that develops, sells and 
			services mission critical products. Our customers demand innovation that improves 
			performance and reduces the environmental impact of our power systems</p><br><p>	<strong>
			Changing World</strong> - The world around us is changing rapidly and the pace of change
			is accelerating. New markets are emerging, shifting the balacnce of economic power.
			Regulation is, rightly, driving the requirement for cleaner power and setting new 
			standards for buisness conduct. Our continuous imvestment in technology, our ingenuity
			and our commitment to excellence allows us to seize the opportunities that change 
			presents and to face the future with confidence.</p>
			<h2>Values</h2>
			
			<h2>Strategy</h2>
		</div>
	</div>
	
	<div class="card">
		<div class="item item-text-wrap">
					<div ui-sref="strategy"><h1>Strategy<h1></div>
		</div>
	</div>
	
	<div class="card" ng-repeat="recordedevent in recordedevents">
		<ion-list>
			<ion-item class="item item-text-wrap">  <!-- this comes from what is after $Scope. in the aboutController -->
<!-- this was added to comment the old code.
				<h1>{{recordedevent.EvntID}}</h1>
				<p>{{recordedevent.EvntDsptn}} </p>
			</ion-item>
		</ion-list>
	</div>
this was added to comment the old code -->
	
  </ion-content>
</ion-view>