<ion-view title="home">
	<!-- This is the first of the template .html files. All pages in the app will need their own uniquie .html file in 
	the templates folder or a branch of the templates folder. All pages will also need a .state function added to the 
	www/js/app.js file so that the js controller can redirect to it when ui-sref="(.html name)" call is used-->
    <ion-header-bar class="bar-positive">
		<!-- This is the header and should be the same for all of the pages in the www/templates folder -->

		<img src="img/backbtn.png" class="backbutton" ng-click="$ionicGoBack()">
		<img src="img/logotw.png" id="rrlogo"> 
		
			<!-- this adds the RR logo to the bar and sets it using ui-sref as a redirect to the homepage 
			the the id="rrlogo" is used to set specifc css styling in www/css/style.css using the #rrlogo call-->
		<img src="img/centlogont.png" id="centlogo"></img>
			<!-- similar as above just without a ui-sref call -->
	</ion-header-bar>
    <ion-content class="homebg"> <!-- This is the content section for the homepage and has all of the buttons present on the page. -->
		<button class="button button-full button-large button-stable home-button" ui-sref="about"> 
				<!-- This sets up the button the different classes add style through the ionic css and scss 
				files and the ui-sref line tells the javascript controller which page to redirect to -->
			About Rolls-Royce
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="timeline">
			Time Line
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="productlist">
			Products
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="platformlist">
			Platforms
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="customerlist">
			Customers
		</button>
		<img src="img/centlogot.png" id="homepagelogo"></img>
		<!-- this is centenial logo with text (centlogot). the id="homepagelogo" line is asigned so 
		that in the www/css/style.css file we can use a #homepagelogo call to set a specific style 
		for this image on the homepage -->
		
    </ion-content>
</ion-view>