<ion-view title="home">
    <ion-header-bar class="bar-positive">

		<h1 class="headertitle"><b>Home</b></h1>
		<img src="img/logont.png" id="rrlogo" ui-sref="home"></img>
		<img src="img/centlogont.png" id="centlogo"></img>
	</ion-header-bar>
    <ion-content class="homebg"> <!-- padding="true" -->
		<button class="button button-full button-large button-stable home-button" ui-sref="about">
			About Rolls-Royce
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="timeline">
			Time Line
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="products">
			Products
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="platforms">
			Platforms
		</button>
		<button class="button button-full button-large button-stable home-button" ui-sref="customers">
			Customers
		</button>
		<img src="img/centlogot.png" id="homepagelogo"></img>
		
    </ion-content>
</ion-view>