<ion-view title="platformlist">
	<!-- check www/templates/home.html for a explanation on .html templates -->
	<ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
  		<h1 class="headertitle"><b>Platform List</b></h1>
		<img src="img/backbtn.png" class="backbutton" ng-click="$ionicGoBack()">
		<img src="img/centlogont.png" id="centlogo">
	</ion-header-bar>
	<ion-content>
		<ion-list>
			<ion-item class="item item-text-wrap" ng-repeat="platform in platformlist" href="#/platforms/{{platform.PlatformID}}">  <!-- this comes from what is after $Scope. in the productlistController -->
				<h1>{{platform.PlatformName}}</h1>				
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>