<ion-view title="products">
	<!-- check www/templates/home.html for a explanation on .html templates -->
  <ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
  		<h1 class="headertitle" ng-click="$ionicGoBack()"><b>Product</b></h1>
		<img src="img/backbtn.png" class="backbutton" ng-click="$ionicGoBack()">
		<img src="img/centlogont.png" id="centlogo">
	</ion-header-bar>
  <ion-content>
	<div class="item item-text-wrap" ng-repeat="product in products">
		<h1 class="titletxtsize">{{product.ProductName}}</h1>
		<img src="{{product.ProductImgLnk}}" class="ataglance">
		<h2>About the {{product.ProductName}}</h2>
		<p>{{product.ProductDsptn}}</p>
		<br>
		<h2>{{product.ProductName}} Specs</h2>
		<p class="speclist" ng-repeat="spec in productspeclist">{{spec.ProductSpec}}<br></p>
		
		<h2 ng-repeat="novar in novariant">{{product.ProductName}} Variants{{novar.NoVariants}}</h2>
		<ion-item class="item item-text-wrap" ng-repeat="variant in variantlist" href="#/variants/{{variant.ProdVarID}}">  <!-- this comes from what is after $Scope. in the productController -->
			<h2>{{variant.ProdVarName}}</h2>
		</ion-item>
			
    </div>
  </ion-content>
</ion-view>