<ion-view title="thanks">
	<!-- check www/templates/home.html for a explanation on .html templates -->
  <ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
		<h1 class="headertitle"><b>Thanks</b></h1>
		<img src="img/backbtn.png" class="backbutton" ng-click="$ionicGoBack()">
		<img src="img/centlogont.png" id="centlogo">
	</ion-header-bar>
  <ion-content padding="true">
  
	<div class ="card">
		<div class="item item-text-wrap">
			<h1>Thank You!</h1>			
			<p>Thank you to all the people that made this app possible. Especially the RR-Centennial App team who spent countless hours of their free time to code the app.</p>
			<p>
				<b>RR Centennial App Team<b><br>
				<ul>
					<li>Joel Davis</li>
					<li>Kyle Burkholder</li>
					<li>Jessica Durden</li>
				</ul>
			</p>
			
			<img src="img/eggofeaster.jpg" class="ataglance">
			
		</div>
	</div>
  </ion-content>
</ion-view>