<ion-view title="timeline">
	<!-- check www/templates/home.html for a explanation on .html templates -->
  <ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
  		<h1 class="headertitle"><b>Timeline</b></h1>
		<img src="img/backbtn.png" class="backbutton" ng-click="$ionicGoBack()">
		<img src="img/centlogont.png" id="centlogo">
	</ion-header-bar>
  <ion-content id="timelinebox" padding="False" class="has-header" scroll="false">
  	<ion-scroll zooming="false" direction="x" scrollbar-x="false"  scrollbar-y="false" has-bouncing="false">

  		<canvas id="timeline">
          	</canvas>
			<!--
          	<div id="timelinewindow" style="overflow: hidden; position: absolute; left: 0px; top: 0px">
        		<div ng-repeat="date in dates" ng-style="{top: date.yloc, left: date.xloc, position: date.position}">
        			<div style="position: relative; left: -50%; background-color: white">
        				{{ date.text }}
        			</div>
        		</div>
        		<div  ng-repeat="event in recordedeventstl" ng-style="{top: event.yloc, left: event.xloc, width: event.boxWidth, position: event.position}">
        			<div syle="float:left">
						<div ng-style="{left: event.endOffset}" class="tlitem">
							<a href="#/events/{{event.EvntID}}" style=" text-decoration : none; color : #000000;">{{ event.text }}</a>							
						</div>
					</div>
        		</div>
        	</div>
			-->
			
			
			<div id="timelinewindow" style="overflow: hidden; position: absolute; left: 0px; top: 0px">
        		<div ng-repeat="date in dates" ng-style="{top: date.yloc, left: date.xloc, position: date.position}">
        			<div style="position: relative; left: -50%; border: dotted red 1px; background-color: white">
        				{{ date.text }}
        			</div>
        		</div>
        		<div  ng-repeat="event in recordedeventstl" ng-style="{top: event.yloc, left: event.xloc, width: event.boxWidth, position: event.position}">
        			<div style="float:left">
        				<div ng-style="{left: event.endOffset}" style="position: relative; top: -50%; border: dotted red 1px; text-align: center; background-color: white">
        					<a href="#/events/{{event.EvntID}}" style=" text-decoration : none; color : #000000;">{{ event.text }} </a>
        				</div>
        			</div>
        		</div>
        	</div>
			
			
			
      	</ion-scroll>
  <!--div style="border: 2px solid green;" id="testnum">
        	Inside Ion-content
        	</div-->
        	<!--div-->
		<!--h2>A really fancy timeline will go here</h2-->
    <!--/div-->
  </ion-content>
  <div class="spacer"></div>
</ion-view>