<ion-view title="strategy">
	<!-- check www/templates/home.html for a explanation on .html templates -->
  <ion-header-bar class="bar-positive"> <!-- check www/templates/home.html for a header explanation -->
  		<h1 class="headertitle"><b>Strategy</b></h1>
		<img src="img/logont.png" id="rrlogo" ui-sref="home"></img>
		<img src="img/centlogont.png" id="centlogo"></img>
	</ion-header-bar>
  <ion-content padding="true">
	<div>
		<h2>strategy games be fun</h2>
    </div>
  </ion-content>
</ion-view>